.name-split {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 20px;
  gap: 10px;

  flex-direction: row;
}

/* --- Name Container--- */
.name-text {
  flex: 1;
  display: flex;
  justify-content: center;
}

.name-wrapper {
  display: flex;
  flex-direction: column;

  font-size: clamp(3.5rem, 6vw + 1rem, 7rem);
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
  font-family: Elms Sans;
}

/* --- Stair alignment --- */
.first-name {
  text-align: left;
  margin-left: 0.67em;
}

.last-name {
  margin-left: 3em;
}

/* --- Right side --- */
.name-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 5em;
}

.main-name-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

.icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.icons img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.code-tag {
  display: flex;
  justify-content: center;
  border-bottom: transparent;
}

/* about me sections  */
.about-me {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: Elms Sans;
}

.course-grid,
.project-grid,
.music-grid {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.course-grid,
.music-grid {
  padding-right: 1.2em;
}

.project-grid {
  padding-left: 1.2em;
}

.edu-section,
.music-section {
  align-items: flex-start;
}

.dev-section {
  flex-direction: row-reverse;
}

.edu-section,
.dev-section,
.music-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-top: 200px;
}

/* names */

.student,
.developer,
.musician {
  font-size: clamp(3.5rem, 6vw + 1rem, 7rem);
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
  font-family: Elms Sans;
}

.student,
.musician {
  margin-left: 1.2em;
  padding-top: 100px;
}

.developer {
  margin-right: 1.2em;
  padding-top: 100px;
}

/* mobile view */

@media (max-width: 768px) {
  .edu-section,
  .dev-section,
  .music-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 50px;
  }

  .student,
  .developer,
  .musician {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .course-grid,
  .project-grid,
  .music-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    padding: 0;
    gap: 20px;
  }
}
