html {
  font-family: Elms Sans;
  background-color: #242424;
}
body {
  margin: 0px;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/four.jpg");
}

.content-layer {
  position: relative;
  z-index: 1;
}
