.course {
  border: 1px solid #ccc;
  border-radius: 90px;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  width: 250px;
  height: 320px;
}
.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.course-desc {
  padding: 0.75rem;
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .course {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
}
