.course {
  width: 260px;
  height: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid #ccc;
  border-radius: 60px;
  padding: 30px 20px;
  box-sizing: border-box;

  transition:
    transform 0.2s,
    box-shadow 0.2s;
  background: transparent;
}
.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.course-image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin-bottom: 20px;
}

.course-desc {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
