.portfolio-header {
  padding: 0 3rem;
  font-family: Elms Sans;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand-logo {
  height: 50px;
  width: auto;
}

.brand-text h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  font-family: Elms Sans;
}

.brand-text p {
  margin: 0;
  font-size: 0.85rem;
  color: #000000;
  letter-spacing: 2px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contact-label {
  font-size: 0.8rem;
  color: #000000;
}

.contact-email {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
/* Resume */
.resume-btn {
  text-decoration: none;
  font-family:
    Elms Sans,
    sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  color: #222;
  background-color: transparent;
  border: 2px solid #222;
  padding: 6px 16px;
  border-radius: 20px;
  margin-right: 15px;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  transition: all 0.3s ease;
}

.resume-btn:hover {
  background-color: #222;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-divider {
  border-top: 1px solid #ddd;
  margin: 0;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #000;
}

.nav-links a.active {
  color: #000000;
  font-weight: 800;
}

/* --- SOCIAL ICONS --- */
.social-icons {
  display: flex;
  gap: 10px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #a5a7a5;
  color: #222;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.icon-box:hover {
  background-color: #bbbfb9;
}

.label {
  height: 35px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow:
    inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s;
}

.label:hover {
  transform: perspective(100px);
}

#checkbox:checked ~ .label:hover {
  transform: perspective(100px) rotateX(-25deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 20px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 5.5px;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

@media (max-width: 900px) {
  .header-top {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .contact-info {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
  }

  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: inline;
  }

  .header-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
  }

  .nav-links a {
    font-size: 0.85rem;
    white-space: nowrap;
  }

  .social-icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .resume-btn {
    margin-right: 0;
  }
}
