:root {
  --mainColor: #ffffff;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--mainColor);
}

.main-content {
  flex-grow: 1;
  padding: 1rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
  color: var(--mainColor);
}
